<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link href="/public/css/case.2480a.min.css" rel="stylesheet"></head>
<body>
    <nav class="header-nav">
    <div class="header-logo">
        汉成科技
    </div>
    <div class="header-nav-list-wrap">
        <ul class="nav-list">
            <li>
                <a href="">
                    首页
                </a>
            </li>
            <li id="case-btn">
                <a href="" class="active">
                    典型案例 <i class="iconfont iconshangla1"></i>
                    <i class="iconfont iconDown"></i>
                </a>
                <div class="header-nav-second">
                    <ul class="sub-nav-list">
                        <li>
                            <a href="">
                                智慧园区
                            </a>
                        </li>
                        <li>
                            <a href="">
                                智慧仓储
                            </a>
                        </li>
                        <li>
                            <a href="">
                                智慧农业
                            </a>
                        </li>
                        <li>
                            <a href="">
                                智慧工地
                            </a>
                        </li>
                        <li>
                            <a href="">
                                智慧连锁
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="">
                    技术服务
                </a>
            </li>
            <li>
                <a href="">
                    新闻资讯
                </a>
            </li>
            <li>
                <a href="">
                    帮助中心
                </a>
            </li>
            <li>
                <a href="">
                    关于我们
                </a>
            </li>
        </ul>
    </div>
   
</nav>
    <section class="header-banner">
        <img src="/public/imgs/case-banner.ccd9d.jpg" alt="">
    </section>
    <section class="case-section">
        <div class="case-content">
            <div class="case-img">
                <img src="/public/imgs/case-z.faff9.jpg" alt="">
            </div>
            <div class="case-info">
                <h5>智慧园区管理平台介绍</h5>
                <p>
                    　　园区智能化综合管理平台平台是以内部宽带局域网为基础，以数字网络化视频监控技术为核心，以视频系统、报警系统、访客系统、人车通行系统、广播系统、巡更巡查系统、消防系统、环境动力通、信息发布系统、人流车流统计、智能分析系统、运维诊断等多种只智能子系统为基础，结合具体业务需要，在二维/三维数字模型上对各类子系统全面集成与统一管理的一套安全防范管理系统。 　　系统对“大量视频的多个终端网络调用”、“各种不同级别报警事件的分权限处理”、“不同区域的安全管理”、“电子地图分屏显示”、“子系统间的互联互通、资源共享”、“巡更巡检管理”等细节都做了专门的设计，并且所有功能模块由一个综合管理系统管理，体现了“一体化”、“智能化”设计思想。
                </p>
            </div>
        </div>
    </section>
    <section class="case-detail common-section">
        <div class="detail-content">
            <h5>实现目标</h5>
            <p>
                解决设备管理落后，用户体验差等问题，实现园区出入口、园区内的公共广播系统、人员车辆、设备间、机房、中控室等重点位置的环境监测等安防的综合管理。 解决设备管理落后，用户体验差等问题，实现园区出入口、园区内的公共广播系统、人员车辆、设备间、机房、中控室等重点位置的环境监测等安防的综合管理。
            </p>
            <div class="detail-list-img">
                <div class="list-img">
                    <img src="/public/imgs/inner-1.59bc5.jpg" alt="">
                    <span>园区出入口</span>
                </div>
                <div class="list-img">
                    <img src="/public/imgs/inner-1.59bc5.jpg" alt="">
                    <span>园区出入口</span>
                </div>
                <div class="list-img">
                    <img src="/public/imgs/inner-1.59bc5.jpg" alt="">
                    <span>园区出入口</span>
                </div>
            </div>
        </div>
       

    </section>
    <section class="common-section typical">
        <h3>
            典型案例
        </h3>
        <h5>
            TYPICAL CASE
        </h5>
        <div class="common-content typical-content">
            <div>
                <img src="/public/imgs/afjk.bcd09.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="common-section graph">
        <h3>
            拓扑图
        </h3>
        <h5>
            TOPOLOGICAL GRAPH
        </h5>
        <div class="graph-content">
            <div class="graph-item">
                <img src="/public/imgs/graph-1.4dddd.jpg" alt="">
            </div>
            <div class="graph-item">
                <img src="/public/imgs/graph-1.4dddd.jpg" alt="">
            </div>
        </div>
    </section>
    <footer>
    <div class="footer-banner">
        <span>理解</span>
        <span>价值</span>
        <span>责任</span>
    </div>
    <div class="links-box">
        <div class="links">
            <h5>联系我们</h5>
            <i class="border"></i>
            <p>公司名称：北京汉成科技</p>
            <p>地　　址：北京市海淀区西三旗街道建材城东路10号院内（京城尚德智造产业园）</p>
            <p>联系电话：010-62912933</p>
            <p>传　　真：010-62912933</p>
            <p>
                <span class="font">节</span>
                <span class="font">假</span>
                <span>日：</span>18511032033</p>
            <p>网　　址：www.hc7.com.cn</p>
            <p>邮　　箱：hc@hc7.com.cn</p>
        </div>
        <div class="qr-code">
            <img src="xxxHTMLLINKxxx0.094181916899441780.6377324803083488xxx" alt="">
        </div>
    </div>
    <div class="copyright">
        版权所有 2016 北京市汉成科技有限公司 all rights reserved <a href="https://beian.miit.gov.cn" target="__blank" style="color:#979899;font-size:14px;line-height:1;">京ICP备15030965号-1</a>
    </div>
</footer>
<script type="text/javascript" src="/public/js/manifest.bundle.js"></script><script type="text/javascript" src="/public/js/vendors.1810dcfac52ee44440cc.js"></script><script type="text/javascript" src="/public/js/case.ae1c042f95538d35af1d.js"></script></body>
</html>