<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <title><%= title %></title>

<link href="/public/css/welcome.2480a.min.css" rel="stylesheet"></head>
<body>
<div id="root">
    <div class="trans-center">
        <div class="welcome">welcome!</div>
    </div>
</div>
<script type="text/javascript" src="/public/js/manifest.bundle.js"></script><script type="text/javascript" src="/public/js/vendors.1810dcfac52ee44440cc.js"></script><script type="text/javascript" src="/public/js/welcome.642bc3574cb86bd67e1d.js"></script></body>
</html>
