<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include includes/meta.ejs %>
    <title>关于我们</title>
</head>

<body>
    <% include includes/headerNav.ejs %>
    <% include includes/backTop.ejs %>
        <section class="header-banner">
            <img src="../static/imgs/aboutus.jpg" alt="">
        </section>
        <section class="about-section">
            <div class="about-content">
                <div class="about-img">
                    <img src="../static/imgs/gongsi.jpg" alt="">
                </div>
                <div class="about-info">
                    <h5>
                        北京汉成科技有限公司
                    </h5>
                    <div class="about-text">
                        <p>
                            北京汉成科技有限公司成立于2015年，是领先的软件开发服务商，公司以物联网大数据领域为主要发展方向，以开发具有真正价值的软件为经营理念，为用户提供专业的定制开发服务。　　　
                        </p>
                        <p>
                            公司（自）成立至今，服务于政府、军队、能源、交通、物流、教育、卫生等多个行业，为行业信息化和智能化发展贡献力量，并成功开发出众多应用案例，如：智能仓储服务平台，大型连锁（器）企业远程综合监控管理系统，智慧化园区管理软件，智能化种植管理软件，基于物联网的河道治理解决方案，企业人员考勤管理系统，安全生产监督平台，定制化的企业经营管理系统；并为多个大型企业提供长期开发和技术支持。
                        </p>
                        <p>
                            公司致力于培养优秀的服务团队和技术人才，始终坚持让我们的服务超越客户的期望，凭借服务至上的经营理念，汉成得到了越来越多合作伙伴的信任和支持，公司也因此不断的发展状大。 　　
                        </p>
                        <p>
                            我们也坚信随着公司实力的不断增强，将会给合作伙伴创造更大价值！
                        </p>
                    </div>

                </div>
            </div>
        </section>
        <section class="map-section">
            <div class="map-content">
                <div class="map-img">
                    <img src="../static/imgs/map.jpg" alt="">
                </div>
                <div class="contact-info">
                    <div class="contact-title"></div>
                    <div class="contact-detail">
                        <p>公司名称：北京汉成科技有限公司</p>
                        <div class="address">
                            <span>地　　址：</span><span>北京市海淀区西三旗街道建材城东路10号院内（京城尚德智造产业园）</span>
                        </div>
                        <p>联系电话：010-62912933</p>
                        <p>传　　真：010-62912933</p>
                        <p>
                            <span class="font">节</span>
                            <span class="font">假</span>
                            <span>日：</span>18511032033
                        </p>
                        <p>网　　址：www.hc7.com.cn</p>
                        <p>邮　　箱：hc@hc7.com.cn</p>
                    </div>
                </div>
            </div>
        </section>
        <% include includes/footer.ejs %>
</body>

</html>