<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include includes/meta.ejs %>
    <title><%%= caseDetail.navTitle %></title>
</head>
<body>
    <% include includes/headerNav.ejs %>
    <section class="header-banner">
        <img src="../static/imgs/case-banner.jpg" alt="汉成科技典型案例图片展示">
    </section>
    <section class="case-section">
        <div class="case-content">
            <div class="case-img">
                <img src="<%%= caseDetail.paragraphImg_1 %>" alt="汉成科技典型案例内容图片展示">
            </div>
            <div class="case-info">
                <h5><%%= caseDetail.paragraphTitle_1 %></h5>
                <p><%%= caseDetail.paragraphContent_1 %></p>
            </div>
        </div>
    </section>
    <section class="case-detail common-section">
        <div class="detail-content">
            <h5><%%= caseDetail.paragraphTitle_2 %></h5>
            <p><%%= caseDetail.paragraphContent_2 %></p>
            <div class="detail-list-img">
                <div class="list-img">
                    <img src="<%%= caseDetail.paragraphContent2Img_1 %>" alt="汉成科技典型案例列表">
                    <span class="overflowOne"><%%= caseDetail.paragraphContent2ImgTitle_1 %></span>
                </div>
                <div class="list-img">
                    <img src="<%%= caseDetail.paragraphContent2Img_2 %>" alt="汉成科技典型案例列表">
                    <span class="overflowOne"><%%= caseDetail.paragraphContent2ImgTitle_2 %></span>
                </div>
                <div class="list-img">
                    <img src="<%%= caseDetail.paragraphContent2Img_3 %>" alt="汉成科技典型案例列表">
                    <span class="overflowOne"><%%= caseDetail.paragraphContent2ImgTitle_3 %></span>
                </div>
            </div>
        </div>
       

    </section>
    <section class="common-section typical">
        <h3>
            典型案例
        </h3>
        <h5>
            TYPICAL CASE
        </h5>
        <div class="common-content typical-content">
            <div>
                <img src="<%%= caseDetail.img_1 %>" alt="汉成科技典型案例大图">
            </div>
        </div>
    </section>
    <section class="common-section graph">
        <h3>
            拓扑图
        </h3>
        <h5>
            TOPOLOGICAL GRAPH
        </h5>
        <div class="graph-content">
            <%% for(var i=0,l=caseDetail.img_2.length;i<l;i++){ %>
            <div class="graph-item">
                <img src="<%%= caseDetail.img_2[i] %>" alt="汉成科技案例拓扑图">
            </div>
            <%% } %>
        </div>
    </section>
    <% include includes/footer.ejs %>
</body>
</html>