<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% include includes/headerNav.ejs %>
    <section class="header-banner">
        <img src="../static/imgs/case-banner.jpg" alt="">
    </section>
    <section class="case-section">
        <div class="case-content">
            <div class="case-img">
                <img src="../static/imgs/case-z.jpg" alt="">
            </div>
            <div class="case-info">
                <h5>智慧园区管理平台介绍</h5>
                <p>
                    　　园区智能化综合管理平台平台是以内部宽带局域网为基础，以数字网络化视频监控技术为核心，以视频系统、报警系统、访客系统、人车通行系统、广播系统、巡更巡查系统、消防系统、环境动力通、信息发布系统、人流车流统计、智能分析系统、运维诊断等多种只智能子系统为基础，结合具体业务需要，在二维/三维数字模型上对各类子系统全面集成与统一管理的一套安全防范管理系统。 　　系统对“大量视频的多个终端网络调用”、“各种不同级别报警事件的分权限处理”、“不同区域的安全管理”、“电子地图分屏显示”、“子系统间的互联互通、资源共享”、“巡更巡检管理”等细节都做了专门的设计，并且所有功能模块由一个综合管理系统管理，体现了“一体化”、“智能化”设计思想。
                </p>
            </div>
        </div>
    </section>
    <section class="case-detail common-section">
        <div class="detail-content">
            <h5>实现目标</h5>
            <p>
                解决设备管理落后，用户体验差等问题，实现园区出入口、园区内的公共广播系统、人员车辆、设备间、机房、中控室等重点位置的环境监测等安防的综合管理。 解决设备管理落后，用户体验差等问题，实现园区出入口、园区内的公共广播系统、人员车辆、设备间、机房、中控室等重点位置的环境监测等安防的综合管理。
            </p>
            <div class="detail-list-img">
                <div class="list-img">
                    <img src="../static/imgs/inner-1.jpg" alt="">
                    <span>园区出入口</span>
                </div>
                <div class="list-img">
                    <img src="../static/imgs/inner-1.jpg" alt="">
                    <span>园区出入口</span>
                </div>
                <div class="list-img">
                    <img src="../static/imgs/inner-1.jpg" alt="">
                    <span>园区出入口</span>
                </div>
            </div>
        </div>
       

    </section>
    <section class="common-section typical">
        <h3>
            典型案例
        </h3>
        <h5>
            TYPICAL CASE
        </h5>
        <div class="common-content typical-content">
            <div>
                <img src="../static/imgs/afjk.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="common-section graph">
        <h3>
            拓扑图
        </h3>
        <h5>
            TOPOLOGICAL GRAPH
        </h5>
        <div class="graph-content">
            <div class="graph-item">
                <img src="../static/imgs/graph-1.jpg" alt="">
            </div>
            <div class="graph-item">
                <img src="../static/imgs/graph-1.jpg" alt="">
            </div>
        </div>
    </section>
    <% include includes/footer.ejs %>
</body>
</html>