<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include includes/meta.ejs %>
    <title>帮助详情</title>
    <script>
         window.last_id =  '<%%- last_id %>';
         window.next_id = '<%%- next_id %>';
         window.query = '<%%- query %>'
    </script>
</head>
<body>
    <% include includes/headerNav.ejs %>
    <% include includes/backTop.ejs %>
    <section class="header-banner">
        <img src="../static/imgs/help-banner.jpg" alt="">
    </section>
    <section class="help-section">
        <div class="help-box">
            <div class="content">
                <div class="content-title">
                    <h5><%%= helpDetail.title %></h5>
                    <span class="time">
                        时间：<%%= helpDetail.time %>
                    </span>
                </div>
                <div class="content-info">
                    <%%- helpDetail.content %>
                </div>
            </div>
            <div class="footer">
                <a href="" id="news_pre">
                    &lt;上一篇
                </a>
                <a href="/help?query=<%% query %>&page<%%= page %>">
                    返回列表
                </a>
                <a href="" id="news_next">
                    下一篇&gt;
                </a>
            </div>
        </div>
    </section>
    <% include includes/footer.ejs %>
</body>
</html>