<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% include includes/headerNav.ejs %>
    <section class="header-banner">
        <img src="../static/imgs/help-banner.jpg" alt="">
    </section>
    <section class="help-section">
        <div class="help-box">
            <div class="content">
                <div class="content-title">
                    <h5>客户端登录不上怎么办？客户端登录不上怎么办？客户端登录不上怎么办？客户端登录不上怎么办？客户端登录不上怎么办？客户端登录不上怎么办？</h5>
                    <span class="time">
                        时间：2020-01-01
                    </span>
                </div>
                <div class="content-info">
                    <p>1、检查中心服务是否启动；
                       
                        </p>
                    <p>
                        2、检查中心服务和客户端是否版本匹配；
                    </p>
                    <p>
                        3、客户端登录时中心地址是否正确。
                    </p>
                </div>
            </div>
            <div class="footer">
                <a href="">
                    &lt;上一篇
                </a>
                <a href="">
                    返回列表
                </a>
                <a href="">
                    下一篇&gt;
                </a>
            </div>
        </div>
    </section>
    <% include includes/footer.ejs %>
</body>
</html>