<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% include ./includes/link.ejs %>
</head>

<body>
    <% include includes/headerNav.ejs %>
        <section class="header-banner">
            <img src="../static/imgs/banner.jpg" alt="header banner">
        </section>
        <section class="bus-section common-section">
            <h3>
                业务方向
            </h3>
            <h5>
                BUSINESS DIRECTION
            </h5>
            <div class="bus-list-box">
                <div class="bus-item item">
                    <i class="bus-icon w-l-w"></i>
                    <h4>物联网</h4>
                    <p>
                        对移动端、远程设备、RFID等智能硬件进行统一管理，提升智能化水平，为商业连锁、物流、生产加工等传统劳动力密集型行业提升效率，降低成本
                    </p>
                </div>
                <div class="bus-item item">
                    <i class="icon bus-icon w-l-w"></i>
                    <h4>物联网</h4>
                    <p>
                        对移动端、远程设备、RFID等智能硬件进行统一管理，提升智能化水平，为商业连锁、物流、生产加工等传统劳动力密集型行业提升效率，降低成本
                    </p>
                </div>
                <div class="bus-item item">
                    <i class="icon bus-icon w-l-w"></i>
                    <h4>物联网</h4>
                    <p>
                        对移动端、远程设备、RFID等智能硬件进行统一管理，提升智能化水平，为商业连锁、物流、生产加工等传统劳动力密集型行业提升效率，降低成本
                    </p>
                </div>
                <div class="bus-item item">
                    <i class="icon bus-icon w-l-w"></i>
                    <h4>物联网</h4>
                    <p>
                        对移动端、远程设备、RFID等智能硬件进行统一管理，提升智能化水平，为商业连锁、物流、生产加工等传统劳动力密集型行业提升效率，降低成本
                    </p>
                </div>
                <div class="bus-item item">
                    <i class="icon bus-icon w-l-w"></i>
                    <h4>物联网</h4>
                    <p>
                        对移动端、远程设备、RFID等智能硬件进行统一管理，提升智能化水平，为商业连锁、物流、生产加工等传统劳动力密集型行业提升效率，降低成本
                    </p>
                </div>
            </div>
        </section>
        <section class="case-section common-section">
            <h3>
                典型案例
            </h3>
            <h5>
                TYPICAL CASE
            </h5>
            <ul class="case-list-box">
                <li class="case-list-item">
                    <div class="case-content-wrap">
                    <div class="case-content">
                        <i class="icon case-icon"></i>
                        <h4>智慧园区</h4>
                        <p>
                            安全管理
                        </p>
                        <p>
                            智能环境
                        </p>
                        <p>
                            智能停车
                        </p>
                        <p>
                            智慧楼宇
                        </p>
                        <p>
                            智慧办公
                        </p>
                    </div>
                       
                    </div>
                </li>
            </li>
        </section>
        <section class="news-section common-section">
            <h3>
                新闻资讯
            </h3>
            <h5>
                NEWS INFORMATION
            </h5>
            <div class="new-list-box">
                <div class="new-list-item">
                    <div class="item-img">
                        <img src="../static/imgs/new.jpg" alt="">
                    </div>
                    <div class="new-content">
                        <h5>公司洽谈合作</h5>
                        <i class="border"></i>
                        <p class="time">
                            <i class="icon clock-icon"></i>
                            <span>2020-01-01</span>
                        </p>
                        <p class="info">
                            公司新闻公司新闻公司新闻公司新闻，公司新闻公司新闻，公司新闻公司新闻公司新闻公司新闻公。
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <% include includes/footer.ejs %>
</body>

</html>