<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include includes/meta.ejs %>
    <title>新闻列表</title>
</head>
<body>
    <% include includes/headerNav.ejs %>
    <% include includes/backTop.ejs %>
    <section class="header-banner">
        <img src="../static/imgs/news-banner.jpg" alt="">
    </section>
    <section class="news-section">
        <div class="news-box">
            <div class="news-tab">
                <div class="tab-item">
                    <i class="icon <%%= type == 1 ? 'onblur-icon' : 'blur-icon' %> "></i>
                    <a href="/news">公司新闻</a>
                </div>
                <div class="tab-item">
                    <i class="icon <%%= type == 2 ? 'onblur-icon': 'blur-icon' %>"></i>
                    <a href="/news?type=2">行业资讯</a>
                </div>
            </div>
            <div class="news-list-box">
                <ul class="news-list">
                    <%% for(var i=0,l=newsList.length;i<l;i++) { %>
                    <li>
                        <a href="/news/<%%= newsList[i]._id%>?pageQuery={type:<%%= type %>,page:<%%= page %>}">
                        <div class="news-item-box">
                            <div class="news-img">
                                <img src="<%%= newsList[i].titlePic %>" alt="汉成科技新闻图片">
                            </div>
                            <div class="news-info">
                                <h5 class="overflowOne">
                                    <%%= newsList[i].title %>
                                </h5>
                                <div>
                                    <p class="clamp_2"><%%= newsList[i].subTitle %></p>
                                </div>
                                <span class="news-time">
                                    <i class="icon icon-clock"></i>
                                    <span>
                                        <%%= newsList[i].time %>
                                    </span>
                                </span>
                            </div>
                        </div>
                        </a>
                    </li>
                    <%% } %>
                </ul>
                <div class="news-pagination">
                    <%% if(hasPrevPage){ %>
                    <a href="/news?type=<%%= type %>&page=<%%= page-1 %>">
                        <
                    </a>
                    <%% } %>
                    <%% for(var i=0,l=pageArray.length;i<l;i++){ %%>
                        <a href="<%%= pageArray[i].href %>" class="<%%= pageArray[i].active %>"><%%=pageArray[i].number %></a>
                    <%% } %%>
                    <%% if(hasNextPage){ %>
                    <a href="/news?type=<%%= type %>&page=<%%= page+1 %>">
                        >
                    </a>
                    <a class="last-p" href="/news?type=<%%=type%>&page=<%%= pagingCounter %>">
                        尾页
                    </a>
                    <%% } %>
                   
                    <span class="input">
                        <input type="text" id="newsInput">
                    </span>
                    <a id="newsGo">
                        GO
                    </a>
                </div>
            </div>
           
        </div>
        
    </section>
    <% include includes/footer.ejs %>
</body>
</html>