<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% include includes/headerNav.ejs %>
    <section class="header-banner">
        <img src="../static/imgs/news-banner.jpg" alt="">
    </section>
    <section class="news-section">
        <div class="news-box">
            <div class="news-tab">
                <div class="tab-item">
                    <i class="icon onblur-icon"></i>
                    <a href="">公司新闻</a>
                </div>
                <div class="tab-item">
                    <i class="icon onblur-icon"></i>
                    <a href="">行业资讯</a>
                </div>
            </div>
            <div class="content">
                <h4>公司新闻</h4>
                <p class="time">时间：2020-01-01</p>
                <h5>一、简要概述简要概述简要概述简要概述简要概述简要概述</h5>
                <p>　　简要概述简要概述简要概述简要概述简要概述简要概述，简要概述简要概述简要概述简要概述简要概述，简要概述简要概述简要概述简要概述，简要概述简要概述简要概述，简要概述简要概述简要概述简要概述简要概述简要概述。</p>
                <p>　　简要概述简要概述简要概述简要概述简要概述简要概述，简要概述简要概述简要概述简要概述简要概述，简要概述简要概述简要概述简要概述，简要概述简要概述简要概述，简要概述简要概述简要概述简要概述简要概述简要概述　　简要概述简要概述简要概述简要概述简要概述简要概述，简要概述简要概述简要概述简要概述简要概述，简要概述简要概述简要概述简要概述，简要概述简要概述简要概述，简要概述简要概述简要概述简要概述简要概述简要概述。</p>
                <div class="news-img">
                    <img src="../static/imgs/gongdi.png" alt="">
                </div>
                <div class="news-footer">
                    <a href="">
                        &lt;上一篇
                    </a>
                    <a href="">
                        返回列表
                    </a>
                    <a href="">
                        下一篇&gt;
                    </a>
                </div>
            </div>
           
        </div>
        
    </section>
    <% include includes/footer.ejs %>
</body>
</html>