<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% include includes/headerNav.ejs %>
    <section class="header-banner">
        <img src="../static/imgs/server-banner.jpg" alt="">
    </section>
    <section class="common-section gray-bg">
        <h3>
            研发实力
        </h3>
        <h5>
            RESEARCH AND DEVELOPMENT STRENGTH
        </h5>
        <div class="common-content development">
            <div>
                <i class="icon net-icon"></i>
                <span>视频联网监控</span>
            </div>
            <div>
                <i class="icon net-icon"></i>
                <span>视频联网监控</span>
            </div>
            <div>
                <i class="icon net-icon"></i>
                <span>视频联网监控</span>
            </div>
            <div>
                <i class="icon net-icon"></i>
                <span>视频联网监控</span>
            </div>
            <div>
                <i class="icon net-icon"></i>
                <span>视频联网监控</span>
            </div>
            <div>
                <i class="icon net-icon"></i>
                <span>视频联网监控</span>
            </div>
            <div>
                <i class="icon net-icon"></i>
                <span>视频联网监控</span>
            </div>
        </div>
    </section>
    <section class="common-section produce">
        <h3>服务流程</h3>
        <h5>SERVING PROCEDURE</h5>
        <div class="produce-content">
            <img src="../static/imgs/group.png" alt="">
        </div>
    </section>
    <% include includes/footer.ejs %>
</body>
</html>