<footer>
    <div class="footer-banner">
        <span>理解</span>
        <span>价值</span>
        <span>责任</span>
    </div>
    <div class="links-box">
        <div class="links">
            <h5>联系我们</h5>
            <i class="border"></i>
            <p>公司名称：北京汉成科技有限公司</p>
            <p>地　　址：北京市海淀区西三旗街道建材城东路10号院内（京城尚德智造产业园）</p>
            <p>联系电话：010-62912933</p>
            <p>传　　真：010-62912933</p>
            <p>
                <span class="font">节</span>
                <span class="font">假</span>
                <span>日：</span>18511032033</p>
            <p>网　　址：www.hc7.com.cn</p>
            <p>邮　　箱：hc@hc7.com.cn</p>
        </div>
        <div class="qr-code">
            <img src="../static/imgs/qrcode.jpg" alt="汉成科技二维码">
        </div>
    </div>
    <div class="copyright">
        版权所有 2016 北京市汉成科技有限公司 all rights reserved <a href="https://beian.miit.gov.cn" target="__blank" style="color:#979899;font-size:14px;line-height:1;">京ICP备15030965号-1</a>
    </div>
</footer>