<nav class="header-nav">
    <div class="header-logo">
        汉成科技
    </div>
    <div class="header-nav-list-wrap">
        <ul class="nav-list">
            <li>
                <a href="">
                    首页
                </a>
            </li>
            <li>
                <a href="" class="active">
                    典型案例
                </a>
            </li>
            <li>
                <a href="">
                    技术服务
                </a>
            </li>
            <li>
                <a href="">
                    新闻资讯
                </a>
            </li>
            <li>
                <a href="">
                    帮助中心
                </a>
            </li>
            <li>
                <a href="">
                    关于我们
                </a>
            </li>
        </ul>
    </div>
</nav>